<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<footer class="main-footer" th:fragment="footer">
    <strong>Copyright © 2017  DakGalBi.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Knowledge Engineering Laboratory</b>
    </div>
    <div class="float-right d-none d-sm-inline-block">
        <img src="./static/img/kecaulogo.png" class="header-brand-img" alt="oms logo" th:src="@{/img/kecaulogo.png}">
    </div>
</footer>

<footer class="main-footer fixed-bottom" th:fragment="fixed-footer">
    <strong>Copyright © 2017  DakGalBi.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Knowledge Engineering Laboratory</b>
    </div>
    <div class="float-right d-none d-sm-inline-block">
        <img src="./static/img/kecaulogo.png" class="header-brand-img" alt="oms logo" th:src="@{/img/kecaulogo.png}">
    </div>
</footer>
</html>
