<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="overlay-loading d-none" th:fragment="loading">
        <button class="btn btn-primary screen-center" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
        <!--<div class="screen-center">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>-->
    </div>
</html>
