<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: css"></div>
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>

<body>

<div class="page">
    <div th:replace="fragments/body :: header"></div>
    <!-- header menu -->
    <div th:replace="fragments/body :: header-menu"></div>

    <!-- main page-->
    <div class="page-main">
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <!--<h3 class="card-title">Generated Result</h3>-->
                            <form class="form-inline input-group" th:action="${'/dakgalbi/export/'}">
                                <div class="col-md-10">
                                </div>
                                <div class="col-md-2">
                                    <input class="btn btn-block btn-primary" type=submit value='Export Data'>
                                </div>
                            </form>
                            <div class="card-options"><a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a></div>
                        </div>
                        <div class="card-body">
                            <div class="table-wrapper-scroll-y">
                                <table id="generated-output-table" class="table table-striped table-bordered table-md data-table">
                                    <thead>
                                    <tr>
                                        <th>Item Id</th>
                                        <th>User Id</th>
                                        <th>Rating</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="dataGenerated : ${dataGeneratedMap}">
                                        <td th:text="${dataGenerated.value.itemId}"></td>
                                        <td th:text="${dataGenerated.value.userId}"></td>
                                        <td th:text="${dataGenerated.value.rating}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="fragments/body :: footer"></div>
</div>

<!--js library-->
<div th:replace="fragments/head :: js"></div>

<script>
    requirejs( ["datatables"], function() {
        $(function(){
            $("#generated-output-table").DataTable({
                'ajax': {
                    'contentType': 'application/json',
                    'url': '/dakgalbi/generated-result',
                    'type': 'POST',
                    'data': function(d) {
                        return JSON.stringify(d);
                    }
                },
                'serverSide': true,
                'responsive': true,
                "columnDefs": [
                    {
                        "targets": [0],
                        "data": "itemId"
                    },
                    {
                        "targets": [1],
                        "data": "userId"
                    },
                    {
                        "targets": [2],
                        "data": "rating"
                    },
                ]
            });
        });

    } );
</script>
</body>
</html>
